body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Verdana,Geneva,sans-serif;
  color: #333;
  font-size: 11px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}